<div class = "background_color">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Luckiest+Guy|Overlock|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag "profile" %>


  </head>
  <body>
    <div class="container post">
      <h1 class="mt-1 mb-3">&nbsp</h1>
      <div class="jumbotron">

<div class="container">
    <div class="jumbotron">
        <h1 class="font-weight-bold text-center" style="margin-bottom:50px;">Profile</h1>
        <div class="container" style="margin-bottom: 20px;margin-top: 30px;">
    	     <div class ="row">
    	         <div class="col-lg-10" style="text-align: right;">
              </div>
   		     </div>
              <div class="row">
                  <div class="col-lg-4" style="margin-right: 40px;">
        	           <div class="row">
                      <% if  @user.profile_image.blank? %>
                      <%= image_tag"default_profile.png" %>
                      <% else %>
                      <%= image_tag @user.profile_image.url(:medium)%>
                      <% end %>
                      </div>
                    </div>
                      <div class="col-lg-6" style="text-align: left;">
                        <h4 style="margin-top: 20px;margin-bottom: 10px;color: black"><%= @user.first_name%> <%= @user.last_name %></h4>
                        <%= image_tag("baseline_location_on_black_18dp.png", :alt => "profile") %> <%= @user.city %>, <%= @user.state %>
                        <h5 style="margin-top: 30px;">Rating: <%= @user %> "/ 10"</h5>
                   </div>
              </div>
              <% if !(@user.linkedin.blank?) %>
              <div class="row" style="margin-top: 60px;">
              <%= link_to(image_tag("linkedin.png", :alt => "linkedin"), @user.linkedin) %>
              </div>
              <% end %>
                    <hr class="featurette-divider">
                    <div class="row">
                        <div class="col-lg-10" style="text-align: left;">
                          <b><%= @user.bio %></b>
                        </div>
                    </div>
        </div>
    </div>
</div>
<% if user_signed_in? %>
  <% if current_user.id == @user.id  %>
    <div class="container">
        <div class="jumbotron" style="margin-bottom: 20px;margin-top: 30px;">
            <div class="row">
                  <div class="col-lg-10" style="text-align: left;">
                  <h5> Private Data </h5>
                  <div>Address <%= @user.address %>, <%= @user.city %>, <%= @user.state %> <%= @user.zip %></div>
                 <%= image_tag("outline_mail_outline_black_18dp.png", :alt => "profile")%><%= @user.email %>
                 </div>
            </div>
        </div>
    </div>
  <%end%>
<%end%>

     <table class="table table-striped">
  <thead>
     <td>  Other posts from <%= @user.first_name %> <%= @user.last_name %></td>
      <th colspan="3"></th>
  </thead>
 <tbody>
    <% @posts.each do |post| %>
    <%if @user.id == post.user_id %>
      <tr>
        <td><%= image_tag post.asset.url(:thumb), class: "img-thumbnail" %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.location %></td>
        <td><%= post.rate %></td>
        <td><%= link_to 'View', post %></td>
       </tr>
    <%end%>
  </tbody>
  <%end%>
</table>


</div>
<hr><hr><hr><hr><hr>

</div>

</body>

</div>
