
<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Profile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "profile" %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <%= stylesheet_link_tag "header" %>

  </head>
  <div class = "headerbreak"></div>
  <body>

    <!-- Page Content -->

      <!-- Page Heading/Breadcrumbs -->

<div class="container">
  <div class="jumbotron" style="margin-top: 30px">

    <div class="container" style="margin-bottom: 20px;margin-top: 30px;">
    	<div class ="row">
    	 <div class="col-lg-10" style="text-align: right;">

   		 </div>
   		</div>
      <div class="row">
        <div class="col-lg-4" style="margin-right: 40px;">
        	<div class="row">
            <% if  @user.profile_image.blank? %>
              <%= image_tag"default_profile.png" %>
            <% else %>
              <%= image_tag @user.profile_image.url(:medium)%>
            <% end %>
        </div>

        <div class="row">
          <% if !(@user.linkedin.blank?) %>
           <div class="row" style="margin-top: 60px;">
        	 <%= link_to(image_tag("linkedin.png", :alt => "linkedin"), @user.linkedin) %>
          </div>
          <% end %>
        </div>
    	</div>
        <div class="col-lg-6" style="text-align: left;">
          <h4 style="margin-top: 20px;margin-bottom: 10px;color: #1a75bb"><%= @user.first_name%> <%= @user.last_name %></h4>
          <%= image_tag("baseline_location_on_black_18dp.png", :alt => "profile") %> <%= @user.city %>

          <h5 style="margin-top: 30px;">Rating:</h5>
          <b><%= @user %> "/ 10" </b>

          <hr class="featurette-divider">
		<!-- <div class="col-lg-10" style="text-align: right;">
         <button id= jobs class="jobs">Past Jobs</button>
     	</div>
     	<div class="col-lg-10" style="text-align: right;">
     	</div> -->

     	<div class="row">
      	<div class="col-lg-10" style="text-align: left;">
      		<h2> Bio </h2>
      		<b><%= @user.bio %></b>
   		</div>
       <% if user_signed_in? %>
          <% if current_user.id == @user.id  %>
           <div class="col-lg-10" style="text-align: left;">
            <hr class="featurette-divider">
             <h5> Private Data </h5>
             <div>Address <%= @user.address %>,<%= @user.address2 %> <%= @user.city %>, <%= @user.state %> <%= @user.zip %></div>
             <%= image_tag("outline_mail_outline_black_18dp.png", :alt => "profile")%><%= @user.email %>
           </div>
          </div>
          <%end%>
          <%end%>
        </div>
        </div>
        </div>

    <!-- <div id="pastJobData" class="modal">
  <div class="modal-content">
    <p>Jobs comming soon</p>
  </div> -->
</div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Body</th>
      <th>Location</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
    <% @posts.each do |post| %>
    <%if @user.id == post.user_id %>
      <tr>
        <td><%= image_tag post.asset.url(:thumb), class: "img-thumbnail" %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.location %></td>
        <td><%= post.rate %></td>
        <td><%= link_to 'View', post %></td>
       </tr>
    <%end%>
  </tbody>
  <%end%>
</table>
</div>
<!-- <div class="row">
	<div class="col-lg-2">
	</div>
	<div class="col-lg-4">

<div class="jobCard" style="width: 18rem,margin-top;">
  <div class="card-body">
    <h5 class="card-title">Job 1</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">link to somewhere</a>
  </div>
</div>
</div>

<div class="col-lg-4">
	<div class="jobCard" style="width: 18rem, margin-top;">
  <div class="card-body">
    <h5 class="card-title">Job 2</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">link to somewhere</a>
  </div>
</div>
</div> -->

  </body>
</html>
