<p id="notice"><%= notice %></p>

<p>
  <strong>Post_id:</strong>
  <%= @job_application.post_id %>
</p>

<p>
  <strong>Requested Rate:</strong>
  <%= @job_application.ask_rate %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application, :postid => @job_application.post_id), class: "btn btn-info" %> 
<%= link_to 'Back', post_path(@job_application.post_id), class: "btn btn-primary" %>
