<p id="notice"><%= notice %></p>
<br>
<br>

<h3>Applications - <%= @post.title %></h3>

<table class ="table table-striped table-hover">
  <thead>
    <tr class="thread-light">
      <th scope="col">Applicant</th>
      <th scope="col">Email</th>
      <th scope="col">Employer's Offer</th>
      <th scope="col">Applicant's Request</th>
      <th></th>
    </tr>
  </thead>

    <tbody>
      <% @job_applications.each do |job_application| %>        
          <% if @post.id == job_application.post_id %>
          
            <% @users.each do |user| %>        
              <% if user.id == job_application.user_id %>

          <tr class="table-row">
            <td><%= user.first_name + " " + user.last_name%></td>
            <td><%= user.email %></td>
            <td>$<%= @post.rate %></td>
            <td>$<%= job_application.ask_rate %></td>

            <td>
            <a class="btn btn-success" href="job_confirmation">Accept</a>
            <%= link_to 'Decline', post_path(@post), class: "btn btn-danger" %>
            </td>

          </tr>
        <% end %>
        <% end %>
        <% end %>
      <% end %>
    </tbody>
</table>

<%= link_to 'Back', post_path(@post), class: "btn btn-warning" %>
