<%= form_with(model: [ @user, @user.ratings.build ],
               local: true) do |form| %>

  <div class="row field form-group">
      <h5><%= form.label :rating, "Rating: ", class: "col-form-label"%></h5>
    <div class="col-2">
    <%= form.number_field :rating, class: "form-control", placeholder: "0-5"%>
    </div>
  </div>

  <div class="row field form-group">
    <h5><%= form.label :comment, "Comment: "%></h5>
    <%= form.text_area :comment, class: "form-control", placeholder: "Comment"%>
  </div>

  <div class="row actions">
    <%= form.submit "Save Rating", class: "btn btn-success"%>
  </div>

<% end %>
