<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron" style="margin-top: 30px">

<p>
  <h1><%= @post.title %></h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @post.rate %>
</p>

<p>
  <strong> Employer: </strong>
  <% ename = @post.user.first_name + " " + @post.user.last_name %>
  <%= link_to ename, user_path(@post.user) %>
</p>

<p>
<%= image_tag @post.asset.url(:medium), class: "img-thumbnail" %>
</p>

<%= link_to 'Back', posts_path, class: 'btn btn-warning'%>

<% if user_signed_in? %>
  <% if current_user.id == @post.user_id  %>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'%>
    <%= link_to 'Show Applicants', job_applicants_path(:postid => @post.id), class: 'btn btn-info'%>
  <% end %>
<% end %>

<% if user_signed_in? && current_user.id != @post.user_id %>
<%# This post isn't belongs to this current user. %>
    <% if @post.job_applications.count == 0 %>
    <%# This post has no job_applications record yet. %>
      <%= link_to 'Apply Now!', new_job_application_path(:postid => @post.id), class: 'btn btn-success'%>
    <% else %>

      <% applied = false %>
      <% @post.job_applications.each do |jobapp| %>
        <% if jobapp.user_id == current_user.id %>
          <%# Current user has applied this job before. %>
          <% applied = true %>
          <%= link_to 'Your Application', job_applications_path(current_user.id), class: 'btn btn-success'%>
        <% end %>
      <% end %>

      <% if !applied %>
        <%# Current user hasn't applied this job before. %>
        <%= link_to 'Apply Now!', new_job_application_path(:postid => @post.id), class: 'btn btn-success'%>
      <% end %>

    <% end %>
<% end %>

</div>
</div>
