<p id="notice"><%= notice %></p>

<p>
  <strong>Job Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @post.rate %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary'%> |
<%= link_to 'Back', posts_path, class: 'btn btn-primary'%>
