<head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top text-uppercase" id="mainNav">
      <%= link_to "Gigs", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item py-3 px-0 px-lg-3">
            <%= link_to "Home", root_path, class: "nav-item nav-link" %>
          </li>
          <li class="nav-item py-3 px-0 px-lg-3">
            <%= link_to "Posts", posts_path, class: "nav-item nav-link" %>
          </li>
          <li class="nav-item py-3 px-0 px-lg-3">
            <%= link_to 'About', about_index_path, class: "nav-item nav-link" %>
          </li>

          <% if user_signed_in? %>
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn2 dropdown-toggle btn-lg" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item"
                    <%= link_to "Profile", user_path(current_user.id), class: "nav-item nav-link" %>
                  </a>
                   <a class="dropdown-item"
                    <%= link_to "My Application", job_applications_path(current_user.id), class: "nav-item nav-link" %>
                  </a>
                  <a class="dropdown-item"
                    <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-item nav-link" %>
                  </a>
                  <a class="dropdown-item"
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
                  </a>
                </div>
              </div>
            </li>
          <% else %>
              <li>
                <div class="dropdown">
                  <button class="btn2 btn2-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"
                      <%= link_to 'Login', new_user_session_path, class: "nav-item nav-link" %>
                    </a>
                    <a class="dropdown-item"
                      <%= link_to 'Sign up', new_user_registration_path, class: "nav-item nav-link" %>
                    </a>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
  </nav>
</head>
